<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lab</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>ru.mirea.web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>ru.mirea.web.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SiteContentServlet</display-name>
    <servlet-name>SiteContentServlet</servlet-name>
    <servlet-class>ru.mirea.web.SiteContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteContentServlet</servlet-name>
    <url-pattern>/SiteContentServlet</url-pattern>
  </servlet-mapping>

  <filter>
  	<filter-name>SecurityFilter</filter-name>
	<filter-class>ru.mirea.web.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>SecurityFilter</filter-name>
	<url-pattern>/SiteContentServlet</url-pattern>
	<url-pattern>/adminSite.jsp</url-pattern>
	<url-pattern>/commonUserSite.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>AuthFilter</filter-name>
	<filter-class>ru.mirea.web.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>AuthFilter</filter-name>
	<url-pattern>/MainServlet</url-pattern>
	<url-pattern>/AuthentificationServlet</url-pattern>
  </filter-mapping>
  
</web-app>